.atxt_info>p {
    font-size: 0.7em;
    margin: 0;
    line-height: 1.1;
    text-indent: 0;
}

.atxt_info>.atxt_keyvalue {
    margin-left: 3em;
    text-indent: -3em;
}

p {
    margin: 0;
    text-indent: 2em;
    text-align: justify;
    line-height: 1.5;
}

.atxt_drawout {
    margin: 0;
    text-indent: 1.5em;
}

.atxt_aligned {
    text-indent: 0;
}

.atxt_align_center {
    text-align: center;
    text-indent: 0;
}

.atxt_align_left {
    text-align: left;
    text-indent: 0;
}

.atxt_align_right {
    text-align: right;
    text-indent: 0;
}

@media amzn-kf8 {
    div.atxt_illu {
        page-break-after: always;
    }
}

.atxt_illu {
    width: 100%;
    height: 100vh;
    page-break-inside: avoid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.atxt_illu img {
    width: auto;
    height: auto;
}

p.atxt_illu {
    font-size: 1em;
    line-height: 1.1;
}

.atxt_title {
    font-size: 1.5em;
    text-align: center!important;
    text-indent: 0;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.atxt_note_ref {
    text-decoration: none;
    white-space: nowrap;
}

.atxt_note_section {
    border: 1px solid;
    page-break-before: always;
    margin-top: 1em;
}

.atxt_note_p{
	text-indent: -2em;
	margin-left: 2em;
}

aside {
    margin-left: 1em;
    margin-right: 1em;
    text-indent: 0;
}

aside>aside {
    margin-bottom: 0.2em;
}

.atxt_pagebreak {
    page-break-after: always;
}

.atxt_emph {
    font-weight: bold;
}

a {
    text-decoration: none;
}

.atxt_imgchar {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    height: 1em;
    width: auto;
    vertical-align: text-bottom;
}

.atxt_font {
    font-family: sans-serif;
}

.atxt_breakall {
    word-wrap: break-word;
}